<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1052d48-68f1-438c-812c-9e053abeca99" Alias="contactFormControls" Level="2">
  <Info>
    <Name>Contact Form Controls</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>067fc52b-d92c-451b-8a48-cc1e5565a046</Key>
      <Name>Error Message</Name>
      <Alias>errorMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the message to show on error]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Result Messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e771f3c-d2bf-4dc4-8c31-e757eb0103d9</Key>
      <Name>Success Message</Name>
      <Alias>successMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the message to show on success]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Result Messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Result Messages</Caption>
      <SortOrder>2</SortOrder>
      <Alias>resultMessages</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>