<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9269bc9-d93a-42d3-990c-4a1712801253" Alias="[Contentment] Code Editor" Level="1">
  <Info>
    <Name>[Contentment] Code Editor</Name>
    <EditorAlias>Umbraco.Community.Contentment.CodeEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "mode": "razor",
  "theme": "chrome",
  "fontSize": "small",
  "useWrapMode": "0",
  "minLines": 12,
  "maxLines": 30
}]]></Config>
</DataType>