<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b0f36bb-7bc6-42f7-a957-d7f2a008211c" Alias="[DataList] Yes No Clearable" Level="1">
  <Info>
    <Name>[DataList] Yes No Clearable</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-checkbox color-green",
            "name": "Yes",
            "value": "true",
            "description": ""
          },
          {
            "icon": "icon-delete color-red",
            "name": "No",
            "value": "false",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "m",
        "labelStyle": "both",
        "allowClear": "1"
      }
    }
  ]
}]]></Config>
</DataType>