<?xml version="1.0" encoding="utf-8"?>
<DataType Key="becea685-218c-4044-88b3-1e51dcf3a4a3" Alias="[DataList] Category List" Level="1">
  <Info>
    <Name>[DataList] Category List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": "//categoryList"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CheckboxListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "0",
        "showIcons": "0"
      }
    }
  ]
}]]></Config>
</DataType>