<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67b28ce0-7274-4e7c-8efc-040435f5d97d" Alias="[DataList] Spacing" Level="1">
  <Info>
    <Name>[DataList] Spacing</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "0",
            "value": "0",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "1",
            "value": "1",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "2",
            "value": "2",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "3",
            "value": "3",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "4",
            "value": "4",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "5",
            "value": "5",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "m",
        "labelStyle": "text",
        "allowClear": "1"
      }
    }
  ]
}]]></Config>
</DataType>