<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e3b206d-0cdb-4543-bc54-3d841ecf1da7" Alias="[DataList] Authors" Level="1">
  <Info>
    <Name>[DataList] Authors</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Clean.Core.Contentment.AuthorDataListSource, Clean.Core",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.TemplatedListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "template": "<div class=\"umb-content-grid__content\">\r\n  <ul class=\"umb-content-grid__details-list\">\r\n    <li class=\"umb-content-grid__details-item\">\r\n      <div class=\"umb-content-grid__details-value\">\r\n        <img ng-src=\"{{item.icon}}\" style=\"border-radius:50%\" />\r\n      </div>\r\n    </li>\r\n    <li class=\"umb-content-grid__details-item\">\r\n      <div class=\"umb-content-grid__details-value\">\r\n        <span ng-bind=\"item.name\"></span>\r\n      </div>\r\n    </li>\r\n  </ul>\r\n</div>",
        "allowClear": "0",
        "htmlAttributes": [
          {
            "name": "class",
            "value": "flex flex-wrap"
          }
        ]
      }
    }
  ]
}]]></Config>
</DataType>