<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c231cb87-23b9-4eaf-96e4-7aa8d61682b5" Alias="[Dropdown] Font Awesome Icons" Level="1">
  <Info>
    <Name>[Dropdown] Font Awesome Icons</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "500px"
    }
  ]
}]]></Config>
</DataType>