<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b60bab59-d4c5-4f1d-9bf1-098b00bb8350" Alias="Icon Link List" Level="2">
  <Info>
    <Name>Icon Link List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{iconClass}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>