<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b21df8f-973a-4e2d-8ee1-a77924d9e211" Alias="[MediaPicker] SVG Image" Level="1">
  <Info>
    <Name>[MediaPicker] SVG Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "umbracoMediaVectorGraphics",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": []
}]]></Config>
</DataType>