<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a7853a1-edff-49d2-be88-0a1ad3979435" Alias="[Nested] Icon List" Level="1">
  <Info>
    <Name>[Nested] Icon List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{link[0].name}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>