<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9499b829-3e0f-4f0d-af46-a53f2749a5af" Alias="[Slider] Spacing" Level="1">
  <Info>
    <Name>[Slider] Spacing</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": -1.0,
  "InitialValue2": 0.0,
  "MinimumValue": -1.0,
  "MaximumValue": 5.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>