// scss-docs-start gray-color-variables
//$white: #f00 !default;



// Quickly modify global styling by enabling or disabling optional features.


$enable-grid-classes: false !default;
$enable-cssgrid: true !default;


$navbar-light-active-color: #fff;
