<?xml version="1.0" encoding="utf-8"?>
<Content Key="14e76673-9b71-4259-aac3-fc9507eb3bdb" Alias="Contact" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2021-10-09T23:24:16</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e265abdb-ce7c-4646-b472-ca922b313b18">contact</Template>
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[<h2>Error</h2>
<p>Sorry there was a problem with submitting the form. Please try again.</p>
<h3>Dev tip!</h3>
<p>This is most likely because of your smtp settings in the web.config file at the root of the site.</p>
<p>It probably looks like this:</p>
<pre class="prettyprint">&lt;system.net&gt;
    &lt;mailSettings&gt;
        &lt;smtp from="noreply@example.com"&gt;
            &lt;network host="127.0.0.1" userName="username" password="password" /&gt;
        &lt;/smtp&gt;
    &lt;/mailSettings&gt;
&lt;/system.net&gt;
</pre>
<p>You will need to either enter some valid smtp settings for sending emails, or you can use something like <a rel="noopener" href="https://smtp4dev.codeplex.com/" target="_blank">smtp4dev</a> which acts like an SMTP server on your machine.</p>
<p>It can also fail if you don't have these two app setting values in your web.config file:</p>
<pre>  &lt;appSettings&gt;
    &lt;add key="ContactEmailTo" value="toaddress@test.com"/&gt;
    &lt;add key="ContactEmailFrom" value="fromaddress@test.com"/&gt;
  &lt;/appSettings&gt;
</pre>]]></Value>
    </errorMessage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full",
          "id": "46239e4c-bab6-bcb0-b61e-dffdd546f7cc",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[umb://media/5598b628b39045328bb5dab06089e9d7]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[Get in touch]]></Value>
    </subtitle>
    <successMessage>
      <Value><![CDATA[<h2>Thank you</h2>
<p>Thanks for your email. We will be in touch soon.</p>]]></Value>
    </successMessage>
    <title>
      <Value><![CDATA[Contact Us]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>