<?xml version="1.0" encoding="utf-8"?>
<Content Key="abd58ca0-c700-47f3-b7ab-6672583572ce" Alias="Error" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Error</Path>
    <Trashed>false</Trashed>
    <ContentType>error</ContentType>
    <CreateDate>2021-10-09T23:24:16</CreateDate>
    <NodeName Default="Error" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c25c56ee-7808-462a-9dc8-0258d091e1f4">error</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/634595c1e31e41c7a310d1e15f40196b",
        "settingsUdi": "umb://element/0657abc2a856452b89a30fb4fffc65c6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/634595c1e31e41c7a310d1e15f40196b",
      "content": "<p>Sorry, we couldn't find the page you were looking for.</p>\n<p>Why not go back to the <a href=\"/\">home page</a> and start again?</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/0657abc2a856452b89a30fb4fffc65c6",
      "hide": 0,
      "paddingTop": null,
      "paddingBottom": null,
      "paddingLeft": null,
      "paddingRight": null,
      "marginTop": null,
      "marginBottom": null,
      "marginLeft": null,
      "marginRight": null
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7a1b39ec-cc79-4b28-81f6-ab86287175ef",
    "mediaKey": "48239f24-1450-49da-9964-934f512dde48"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Page not found]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>