<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2807f32-ecd8-4110-9167-7dafeecd15c9" Alias="Features" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Features</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2023-08-06T06:01:20</CreateDate>
    <NodeName Default="Features" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c604acfe-4b21-4e46-81f4-b2b34d850fd1">content</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b3ce1b7882514456b6051eda643e6142",
        "settingsUdi": "umb://element/25575a797c7f4376a8ffdf3258a5d90f"
      },
      {
        "contentUdi": "umb://element/f44e6a28c00e4d6bab107902d5785289",
        "settingsUdi": "umb://element/e56e12baf10c436aa2b2e18619f520f8"
      },
      {
        "contentUdi": "umb://element/aabf1c82a7074b23a905c6c41d7e8db0",
        "settingsUdi": "umb://element/70eaaac704594630b07daba532e5b570"
      },
      {
        "contentUdi": "umb://element/0a384113fbcf4205b15cda6a6bfd6b8c",
        "settingsUdi": "umb://element/ce23467908804d8b832a98320287616e"
      },
      {
        "contentUdi": "umb://element/580568eda49a42128607366cc83bafc0",
        "settingsUdi": "umb://element/32870124dd0941b99a214cb70d726c8c"
      },
      {
        "contentUdi": "umb://element/d5c55fef1cf44fa2a67502f193dcbf0c",
        "settingsUdi": "umb://element/a4432aa0ee134cbebfd3110e99749a2a"
      },
      {
        "contentUdi": "umb://element/2bb90c718d9a4e569458ab5bde2d0f58",
        "settingsUdi": "umb://element/25a7844466764628ab13c10cd4efcfa1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/b3ce1b7882514456b6051eda643e6142",
      "content": "<h2>Rich Text Row</h2>\n<p>There is a simple rich text row for writing your usual formatted content in a WYSIWIG style with the usual settings including but not limited to: </p>\n<p><strong>Bold</strong></p>\n<p><em>Italic</em></p>\n<p style=\"text-align: left;\">Left align</p>\n<p style=\"text-align: right;\">Right align</p>\n<ul>\n<li>Bulleted List</li>\n</ul>\n<ol>\n<li>Ordered List</li>\n</ol>"
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "udi": "umb://element/aabf1c82a7074b23a905c6c41d7e8db0",
      "image": "[\r\n  {\r\n    \"key\": \"b971579f-5dd9-46f4-ad32-1d4ea6f04127\",\r\n    \"mediaKey\": \"bbf2800f-1cc5-4ea9-8d2e-b33ff1d5efbe\"\r\n  }\r\n]",
      "caption": "Image Row Example"
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/f44e6a28c00e4d6bab107902d5785289",
      "content": "<h2>Image Row</h2>\n<p>You can use the image row to render a full width image.</p>"
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "udi": "umb://element/580568eda49a42128607366cc83bafc0",
      "videoUrl": "https://www.youtube.com/watch?v=Dn2tI1--LOs",
      "caption": "What's next in C# - Mads Torgersen @ Umbraco Codegarden 2022"
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/0a384113fbcf4205b15cda6a6bfd6b8c",
      "content": "<h2>Video Row</h2>\n<p>This lets you embed a YouTube video by just entering the normal URL of the video, and it just renders the preview image of it at first. Then when you click on it, it loads it in as the iframe, which is better for the end user as it doesn't download all of the YouTube assets until it is needed.</p>"
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/d5c55fef1cf44fa2a67502f193dcbf0c",
      "content": "<h2>Code Snippet Row</h2>\n<p>There is a code snippet row to enable you to easily share code snippets in your website.</p>"
    },
    {
      "contentTypeKey": "f37c2c28-c8ab-48cd-ac07-b13e38bd900f",
      "udi": "umb://element/2bb90c718d9a4e569458ab5bde2d0f58",
      "code": "@inherits UmbracoViewPage<BlockListItem>\r\n@using Umbraco.Cms.Core.Models.Blocks\r\n\r\n@{\r\n    var row = (CodeSnippetRow)Model.Content;\r\n    var settings = (CodeSnippetRowSettings)Model.Settings;\r\n    if (settings?.Hide ?? false) { return; }\r\n\r\n    SmidgeHelper.RequiresJs(\"~/clean-assets/js/highlight.default.min.css\");\r\n    SmidgeHelper.RequiresJs(\"~/clean-assets/js/highlight.min.js\");\r\n}\r\n\r\n<div class=\"row clearfix\">\r\n    <div class=\"col-md-12 column\">\r\n        <pre><code>@row.Code</code></pre>\r\n    </div>\r\n</div>",
      "title": "Code from the codeSnippetRow.cshtml file"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/25575a797c7f4376a8ffdf3258a5d90f",
      "hide": 0
    },
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "udi": "umb://element/70eaaac704594630b07daba532e5b570",
      "hide": 0
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/e56e12baf10c436aa2b2e18619f520f8",
      "hide": 0
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "udi": "umb://element/32870124dd0941b99a214cb70d726c8c",
      "hide": 0
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/ce23467908804d8b832a98320287616e",
      "hide": 0
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/a4432aa0ee134cbebfd3110e99749a2a",
      "hide": 0
    },
    {
      "contentTypeKey": "93638715-f76c-4a11-86b1-6a9d66504901",
      "udi": "umb://element/25a7844466764628ab13c10cd4efcfa1",
      "hide": 0
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "ff822952-ec8e-4e73-9d34-f4b658791813",
    "mediaKey": "861ac5a3-aca5-4db8-85f2-a7ad05e0de30"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[in this starter kit]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>