<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-10-09T23:24:15</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="907d26a5-c929-4c69-bb1d-0d0d5342d6f6">home</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "737d0fda-9582-4cd4-9ef4-48a9f5393594",
    "mediaKey": "5598b628-b390-4532-8bb5-dab06089e9d7",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialIconLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/88b3cd1e0bd747fd9081ab4832c84241",
        "settingsUdi": "umb://element/c5fe35b5194e4ea2bee5f6baa0e0c5ad"
      },
      {
        "contentUdi": "umb://element/ea8a8fee444b461b8b07de267ccbe9ef",
        "settingsUdi": "umb://element/ea13e2b8f5d149e7a0fa7bfd82ac5a39"
      },
      {
        "contentUdi": "umb://element/8fc94595272b475ab4f80b8da018f720",
        "settingsUdi": "umb://element/c96f976fae284027a336c5ea6b12b5f3"
      },
      {
        "contentUdi": "umb://element/f5a40b08daf1412fbc57f768498be386",
        "settingsUdi": "umb://element/e966db03d6274d81b2ca81c98887156e"
      },
      {
        "contentUdi": "umb://element/4342c4bf50504a328b3e6dbc2156afc2",
        "settingsUdi": "umb://element/6e25c5dafe5045cb95a795ef9672e426"
      },
      {
        "contentUdi": "umb://element/f0190005f618485fa2105d873e4c9227",
        "settingsUdi": "umb://element/67da7863fdef48499ae83d3edc20b7a0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "udi": "umb://element/88b3cd1e0bd747fd9081ab4832c84241",
      "icon": "[\r\n  {\r\n    \"key\": \"1181c745-d10f-407a-8247-08f30dfe7e5c\",\r\n    \"mediaKey\": \"6921a6b4-3a02-4354-83bf-344074c4d00d\",\r\n    \"crops\": [],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]",
      "link": "[{\"name\":\"View this package repository on GitHub\",\"target\":\"_blank\",\"url\":\"https://github.com/prjseal\"}]"
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "udi": "umb://element/ea8a8fee444b461b8b07de267ccbe9ef",
      "icon": "[\r\n  {\r\n    \"key\": \"5bdeb205-44e0-4aea-ba6e-ff153871a6b5\",\r\n    \"mediaKey\": \"7639bb90-3ba4-4765-bec5-655bc3485c06\",\r\n    \"crops\": [],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]",
      "link": "[{\"name\":\"View this in the Umbraco Marketplace\",\"target\":\"_blank\",\"url\":\"https://marketplace.umbraco.com/package/clean\"}]"
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "udi": "umb://element/8fc94595272b475ab4f80b8da018f720",
      "icon": "[\r\n  {\r\n    \"key\": \"15c2a6a4-ec0f-4913-8478-0d8733757129\",\r\n    \"mediaKey\": \"c08eb6e5-fbb7-4e57-b9b3-d35a9b088069\",\r\n    \"crops\": [],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]",
      "link": "[{\"name\":\"Follow me on twitter\",\"target\":\"_blank\",\"url\":\"https://twitter.com/codesharepaul\"}]"
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "udi": "umb://element/f5a40b08daf1412fbc57f768498be386",
      "icon": "[\r\n  {\r\n    \"key\": \"d549757b-95b1-4d20-89d8-51a30e6d5d6a\",\r\n    \"mediaKey\": \"48bc7fab-611a-410d-a9eb-1cf82d811711\",\r\n    \"crops\": [],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]",
      "link": "[{\"name\":\"Read my blog codeshare.co.uk\",\"target\":\"_blank\",\"url\":\"https://codeshare.co.uk\"}]"
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "udi": "umb://element/4342c4bf50504a328b3e6dbc2156afc2",
      "icon": "[\r\n  {\r\n    \"key\": \"8b0ed1d2-4d52-4410-931d-0fde4aea9081\",\r\n    \"mediaKey\": \"87163027-204d-44bd-a74c-c1363368d92f\",\r\n    \"crops\": [],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]",
      "link": "[{\"name\":\"Join the Umbraco discord server\",\"target\":\"_blank\",\"url\":\"https://discord.gg/umbraco\"}]"
    },
    {
      "contentTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "udi": "umb://element/f0190005f618485fa2105d873e4c9227",
      "icon": "[\r\n  {\r\n    \"key\": \"34db3054-84f8-4a8a-8b47-e5bc188d3730\",\r\n    \"mediaKey\": \"fbdf1674-1658-4449-8029-0b11bf7f20ab\",\r\n    \"crops\": [],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]",
      "link": "[{\"name\":\"You can buy me a coffee on PayPal if you would like to\",\"target\":\"_blank\",\"url\":\"https://codeshare.co.uk/coffee\"}]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "udi": "umb://element/c5fe35b5194e4ea2bee5f6baa0e0c5ad",
      "hide": ""
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "udi": "umb://element/ea13e2b8f5d149e7a0fa7bfd82ac5a39",
      "hide": ""
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "udi": "umb://element/c96f976fae284027a336c5ea6b12b5f3",
      "hide": ""
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "udi": "umb://element/e966db03d6274d81b2ca81c98887156e",
      "hide": ""
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "udi": "umb://element/6e25c5dafe5045cb95a795ef9672e426",
      "hide": ""
    },
    {
      "contentTypeKey": "84e89805-5a53-4dcf-930d-fd87c48572dd",
      "udi": "umb://element/67da7863fdef48499ae83d3edc20b7a0",
      "hide": ""
    }
  ]
}]]></Value>
    </socialIconLinks>
    <subtitle>
      <Value><![CDATA[For Umbraco]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Clean Starter Kit]]></Value>
    </title>
  </Properties>
</Content>