<?xml version="1.0" encoding="utf-8"?>
<Content Key="d74830de-46de-435e-addc-c1f3791024ab" Alias="Join the Umbraco Community on Mastodon" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/JoinTheUmbracoCommunityOnMastodon</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-10-03T21:08:15</CreateDate>
    <NodeName Default="Join the Umbraco Community on Mastodon" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-10-03T12:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[["umb://document/bd6a503ac2f247159e97fd2530c3e5b3"]]]></Value>
    </author>
    <categories>
      <Value><![CDATA[["umb://document/13ea3528c98a4b0fbb84e036408a092a","umb://document/6edf2d3b142a401a98ed8bf5fbff76dd"]]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/46ee8295c2324a4fa83ad0fa67db1dea",
        "settingsUdi": "umb://element/8ce58fede0c44dfa8ac03cb47c6bdbf9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/46ee8295c2324a4fa83ad0fa67db1dea",
      "content": "<p>Recently it has been talked about that the Umbraco Community seems to have been spread out across different social media platforms since the takeover of Twitter. So the sense of community has been watered down.</p>\n<p>In an effort to boost that community spirit and to gather in one place in a platform \"similar\" to twitter, there has been a push to join the Umbraco Mastodon server.</p>\n<p>It's great to see lots of Umbraco related posts in your feed without ads or \"recommended\" posts.</p>\n<p>Joe Glombek from Bump Digital wrote an <a rel=\"noopener\" href=\"https://joe.gl/ombek/blog/umbraco-in-the-fediverse/\" target=\"_blank\">excellent blog post</a> all about what Mastodon is and how to join the Umbraco Mastodon server.</p>\n<p>So have a read of that post to find out more.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/8ce58fede0c44dfa8ac03cb47c6bdbf9",
      "hide": 0,
      "paddingTop": null,
      "paddingBottom": null,
      "paddingLeft": null,
      "paddingRight": null,
      "marginTop": null,
      "marginBottom": null,
      "marginLeft": null,
      "marginRight": null
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c4b155fa-172c-49c1-9af4-8c7933956fe2",
    "mediaKey": "3cd8ebc7-c618-4d5b-aaa3-35676c5b232e"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>