<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd6a503a-c2f2-4715-9e97-fd2530c3e5b3" Alias="Paul Seal" Level="3">
  <Info>
    <Parent Key="8b97891b-bb88-4c50-827d-a458c3c2b7bb">Authors</Parent>
    <Path>/Home/Authors/PaulSeal</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2023-08-15T23:21:15</CreateDate>
    <NodeName Default="Paul Seal" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d82c35ee-d4df-44bb-8747-1c7d1ae35ee1">Author</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d0092fe4ba8642c2b395586990c21873",
        "settingsUdi": "umb://element/7cdd3e4316c84a9f8e5157bc9c8d8a05"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/d0092fe4ba8642c2b395586990c21873",
      "content": "<p>Paul Seal is an Umbraco Tech Lead and multiple times Umbraco MVP who works for the Umbraco Gold Partners <a rel=\"noopener\" href=\"https://www.clerkswell.com\" target=\"_blank\" title=\"ClerksWell\">ClerksWell</a>.</p>\n<p>When he's not creating packages such as the Clean Starter Kit, which you are looking at right now, Paul likes to contribute to Open Source by submitting pull requests to different projects such as the Umbraco Source code, uSync Migrations and Contentment.</p>\n<p>Paul likes to write articles with code snippets to help people out when they are struggling to achieve something, usually for Umbraco.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/7cdd3e4316c84a9f8e5157bc9c8d8a05",
      "hide": 0,
      "paddingTop": null,
      "paddingBottom": null,
      "paddingLeft": null,
      "paddingRight": null,
      "marginTop": "[\"5\"]",
      "marginBottom": null,
      "marginLeft": null,
      "marginRight": null
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "11a58533-3688-4826-846b-b39a8ec81655",
    "mediaKey": "cd0caf81-f450-451c-a24c-7e0f9924536c"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Paul Seal is an Umbraco Tech Lead and multiple times Umbraco MVP who works for the Umbraco Gold Partners ClerksWell.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>