<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7556247-610e-459f-a999-06cfb3176cf8" Alias="Podcasts and Videos" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/PodcastsAndVideos</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-07-30T07:31:23</CreateDate>
    <NodeName Default="Podcasts and Videos" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-08-04T08:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[["umb://document/bd6a503ac2f247159e97fd2530c3e5b3"]]]></Value>
    </author>
    <categories>
      <Value><![CDATA[["umb://document/107861f887054e43a6a417277a37f99c","umb://document/942a1a23a5e84703b99f90afcdcea6e4","umb://document/566e938d4c9b4f9eb230247203233452"]]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f15463aab3f04a8dba887ff7d0db70f2",
        "settingsUdi": "umb://element/afd72029194841fc883a6b40832c6a6a"
      },
      {
        "contentUdi": "umb://element/8353fb5a92ad486a9d40fb3aa0e22b2d",
        "settingsUdi": "umb://element/847d7bd4904e4034b8c0797ff13cad71"
      },
      {
        "contentUdi": "umb://element/c12b4913352d4371b984c69d777b9527",
        "settingsUdi": "umb://element/35bbb6a604b34e448c67a4047e356f38"
      },
      {
        "contentUdi": "umb://element/60ef3378da7c4ba09a70436dfeabdbb5",
        "settingsUdi": "umb://element/e2c6c27f99c846d5ac18a57dd5b47676"
      },
      {
        "contentUdi": "umb://element/29e835ad92cc4b32b24694f9bb0cb5b6",
        "settingsUdi": "umb://element/5e063ac7363e466cad465236f484902f"
      },
      {
        "contentUdi": "umb://element/4639f709abb6460eb892d7676d93a194",
        "settingsUdi": "umb://element/acb1482423be413abe97f758e910cc5f"
      },
      {
        "contentUdi": "umb://element/856dee0481a942b18eede133fa816d44",
        "settingsUdi": "umb://element/f4fbbedbf310405f9e7e94f90ae55f0a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/f15463aab3f04a8dba887ff7d0db70f2",
      "content": "<p>A great way to stay in touch with what is happening in the Umbraco community is by listening to podcasts and watching umbraCoffee.</p>"
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "udi": "umb://element/c12b4913352d4371b984c69d777b9527",
      "videoUrl": "https://www.youtube.com/watch?v=8X_Hzm29tV8",
      "caption": "An episode of umbraCoffee from July 2023"
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "udi": "umb://element/29e835ad92cc4b32b24694f9bb0cb5b6",
      "image": "[\r\n  {\r\n    \"key\": \"369ed25b-f0d5-4915-96cb-858df2521c38\",\r\n    \"mediaKey\": \"7d96bc75-fea8-4f66-aaf5-50f45748cab4\"\r\n  }\r\n]",
      "caption": "Candid Contributions Podcast"
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "udi": "umb://element/856dee0481a942b18eede133fa816d44",
      "image": "[\r\n  {\r\n    \"key\": \"23930894-c1b4-4ae2-9801-95505acd1054\",\r\n    \"mediaKey\": \"c334997e-f9a7-498b-83af-f4888a97d5bc\"\r\n  }\r\n]",
      "caption": "Package Manifest Podcast"
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/8353fb5a92ad486a9d40fb3aa0e22b2d",
      "content": "<h2><a rel=\"noopener\" href=\"https://www.youtube.com/c/umbraCoffee/\" target=\"_blank\">umbraCoffee</a></h2>\n<p>umbraCoffee is a weekly YouTube show where each Friday at 11:30am UK / 12:30pm CET, the hosts - Marcin and Callum - together with their guests drive you through the weekly news and all things Umbraco related. So grab a cuppa, join them LIVE and enjoy!</p>"
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/60ef3378da7c4ba09a70436dfeabdbb5",
      "content": "<h2><a rel=\"noopener\" href=\"https://candidcontributions.com/\" target=\"_blank\">Candid Contributions</a></h2>\n<p>Candid Contributions is the home of the aptly named podcast where four experienced developers: Carole Logan, Emma Burstow, Laura Weatherhead and Lotte Pitcher talk all things open source - from code contributions to conference attendance; they aim to cover all aspects of life as an active member of an open-source community.</p>"
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/4639f709abb6460eb892d7676d93a194",
      "content": "<h2><a rel=\"noopener\" href=\"https://packagemanifest.fm/\" target=\"_blank\">Package Manifest</a></h2>\n<p>Package Manifest is a podcast all about Umbraco packages and the people who create them. It is hosted by Matt Brailsford, Kevin Jump and Lee Kelleher.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/afd72029194841fc883a6b40832c6a6a",
      "hide": 0
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "udi": "umb://element/35bbb6a604b34e448c67a4047e356f38",
      "hide": 0
    },
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "udi": "umb://element/5e063ac7363e466cad465236f484902f",
      "hide": 0,
      "paddingTop": null,
      "paddingBottom": null,
      "paddingLeft": "[\"5\"]",
      "paddingRight": "[\"5\"]",
      "marginTop": null,
      "marginBottom": null,
      "marginLeft": "[\"5\"]",
      "marginRight": "[\"5\"]"
    },
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "udi": "umb://element/f4fbbedbf310405f9e7e94f90ae55f0a",
      "hide": 0,
      "paddingTop": null,
      "paddingBottom": null,
      "paddingLeft": "[\"5\"]",
      "paddingRight": "[\"5\"]",
      "marginTop": null,
      "marginBottom": null,
      "marginLeft": "[\"5\"]",
      "marginRight": "[\"5\"]"
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/847d7bd4904e4034b8c0797ff13cad71",
      "hide": 0
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/e2c6c27f99c846d5ac18a57dd5b47676",
      "hide": 0
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/acb1482423be413abe97f758e910cc5f",
      "hide": 0
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c366b171-f9d9-45c2-ab59-761c7e79e0c2",
    "mediaKey": "4ab93d9b-71c8-4608-a736-ff3e3878f529"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[From the Umbraco Community]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Podcasts and Videos]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>