<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7556247-610e-459f-a999-06cfb3176cf8" Alias="Podcasts" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/Podcasts</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-07-30T07:31:23</CreateDate>
    <NodeName Default="Podcasts" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-07-30T12:00:00]]></Value>
    </articleDate>
    <authorName>
      <Value><![CDATA[Paul Seal]]></Value>
    </authorName>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[From the Umbraco Community]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Podcasts]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>