<?xml version="1.0" encoding="utf-8"?>
<Content Key="110a0c49-fab9-4a72-959c-c41d328c05b4" Alias="YouTube Tutorials" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/YouTubeTutorials</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-08-04T06:53:45</CreateDate>
    <NodeName Default="YouTube Tutorials" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-08-04T06:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[["umb://document/bd6a503ac2f247159e97fd2530c3e5b3"]]]></Value>
    </author>
    <categories>
      <Value><![CDATA[["umb://document/6edf2d3b142a401a98ed8bf5fbff76dd","umb://document/107861f887054e43a6a417277a37f99c","umb://document/566e938d4c9b4f9eb230247203233452"]]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ba1a479281c94bd0b652d226c7551532",
        "settingsUdi": "umb://element/f3aa62d81bd742788579047706724049"
      },
      {
        "contentUdi": "umb://element/8b4af4c316364111bc8c3f71e1dee4ae",
        "settingsUdi": "umb://element/aace85dd9b5843ddb79f2f0897db1277"
      },
      {
        "contentUdi": "umb://element/8f3328aad96045a3ad14880e3f3d0305",
        "settingsUdi": "umb://element/a56d7b5404f3493f882c66c28712b3a4"
      },
      {
        "contentUdi": "umb://element/5da04a93caec4ed8b0870bdc31860bed",
        "settingsUdi": "umb://element/15377292a7d24bc4bc560dd3a59ca2b1"
      },
      {
        "contentUdi": "umb://element/5e64e45431ac4662afc2b078b397b2d8",
        "settingsUdi": "umb://element/b0f2759d661b424c8b9e46795c500478"
      },
      {
        "contentUdi": "umb://element/7a2d81a99df6456f9c992a72459292a8",
        "settingsUdi": "umb://element/9a5129d4204644aaa37d37361ffc9540"
      },
      {
        "contentUdi": "umb://element/192a6c7f4b934571803b16db796e5c33",
        "settingsUdi": "umb://element/b9367f44c258449fb2fecd7eddea4f19"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/ba1a479281c94bd0b652d226c7551532",
      "content": "<p>There are lots of free videos on YouTube for you to be able to learn more about Umbraco.</p>"
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/8b4af4c316364111bc8c3f71e1dee4ae",
      "content": "<h2><a rel=\"noopener\" href=\"https://www.youtube.com/@UmbracoLearningBase\" target=\"_blank\">Umbraco Learning Base</a></h2>\n<p>Umbraco Learning Base is the official channel for the Happy Documentation and TV team at Umbraco HQ. On this channel, you can find videos and tutorials on how to get started working with the world's friendliest CMS Umbraco.</p>"
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "udi": "umb://element/8f3328aad96045a3ad14880e3f3d0305",
      "videoUrl": "https://www.youtube.com/watch?v=Yu29dE-0OoI",
      "caption": "Getting Started with Umbraco"
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/5da04a93caec4ed8b0870bdc31860bed",
      "content": "<h2><a rel=\"noopener\" href=\"https://www.youtube.com/@CodeSharePaul\" target=\"_blank\">Paul Seal's YouTube Channel</a></h2>\n<p>There are several playlists of videos in this channel for you to learn how to build a website with Umbraco. Paul takes you step by step through the process and shows you the errors and mistakes along the way so you can see how to fix them yourself.</p>"
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "udi": "umb://element/5e64e45431ac4662afc2b078b397b2d8",
      "videoUrl": "https://www.youtube.com/watch?v=qEZtjxDEK8g",
      "caption": "How to build a website with Umbraco 10 - Part 1 - Installation"
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/7a2d81a99df6456f9c992a72459292a8",
      "content": "<h2><a rel=\"noopener\" href=\"https://www.youtube.com/@jondjones\" target=\"_blank\">jondjones YouTube Channel</a></h2>\n<p>Jon creates a new YouTube tutorial video every week, with a detailed blog post to follow along with too. He usually creates videos about Umbraco and other Content Management Systems.</p>"
    },
    {
      "contentTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "udi": "umb://element/192a6c7f4b934571803b16db796e5c33",
      "videoUrl": "https://www.youtube.com/watch?v=arki6eMudG8",
      "caption": "Build a NextJs headless website with Umbraco and Content Delivery API"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/f3aa62d81bd742788579047706724049",
      "hide": 0
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/aace85dd9b5843ddb79f2f0897db1277",
      "hide": 0
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "udi": "umb://element/a56d7b5404f3493f882c66c28712b3a4",
      "hide": 0
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/15377292a7d24bc4bc560dd3a59ca2b1",
      "hide": 0
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "udi": "umb://element/b0f2759d661b424c8b9e46795c500478",
      "hide": 0
    },
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/9a5129d4204644aaa37d37361ffc9540",
      "hide": 0
    },
    {
      "contentTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "udi": "umb://element/b9367f44c258449fb2fecd7eddea4f19",
      "hide": 0
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "d6644f2c-a16d-4550-99ce-48d199d7f475",
    "mediaKey": "c75e975e-5a1b-4366-9dc0-c5d3ea289d8f"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[For learning Umbraco]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>