@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Content>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels


@{
    Layout = "master.cshtml";
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

<article data-type="content">
    <div class="grid container">
        <div class="g-col-md-4 g-col-lg-8 bg-light p-3" style="grid-column-start: 3; ">
            @Html.GetBlockListHtml(Model.ContentRows)
        </div>
    </div>
</article>