@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@using Clean.Core.Extensions

@{
    var row = Model.Content as ImageRow;
    var settings = Model.Settings as ImageRowSettings;
    if (settings?.Hide ?? false) { return; }
}

<img src="@row.Image.Url()" alt="@row.Image.Content.GetAltText()" class="img-fluid">

@if (!string.IsNullOrWhiteSpace(row.Caption))
{
    <p class="caption">@row.Caption</p>
}