@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks

@{
    var row = Model.Content as RichTextRow;
    var settings = Model.Settings as RichTextRowSettings;
    if (settings?.Hide ?? false) { return; }
}

<div class="row clearfix">
    <div class="col-md-12 column">
        @row.Content
    </div>
</div>